
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

ul li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.1);
}

#red {
    background-color: #d0100d;
}

#sea-green {
    background-color: #66bb6a;
}

#amber {
    background-color: #9e7c0c;
}

#sky-blue {
    background-color: #003e77; /* Fixed the color code */
}

#merun {
    background-color: #4b0e08;
}
